[Desktop Entry]
Encoding=UTF-8
Name=Simple Monitor
Name[ru_RU]=Простой системный монитор
Name[es]=Monitor de sistema simple
Comment=Plasma Simple System Monitor
Comment[ru_RU]=Простой системный монитор-плазмоид
Comment[es]=Monitor de Sistema simple para Plasma

Type=Service
Icon=../plasma/plasmoids/simpleMonitor/contents/images/simpleMonitor.svg

X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-StandAloneApp=true

X-KDE-PluginInfo-Name=org.kde.simpleMonitor
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Version=0.6
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Author=DhabyX, Konstantin Shtepa
X-KDE-PluginInfo-Email=slack.dhabyx@gmail.com, oss.konstantin.shtepa@yandex.ru
X-KDE-PluginInfo-License=GPL3
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-FormFactors=tablet,mediacenter,desktop

X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused
