[Desktop Entry]
Name=Simple Monitor
Name[es]=Monitor de sistema simple
Encoding=UTF-8
Comment=Plasma Simple System Monitor
Comment[es]=Monitor de Sistema simple para Plasma
Icon=icon.svg

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=code/main.qml
X-Plasma-DefaultSize=370,360

X-KDE-PluginInfo-Author=DhabyX
X-KDE-PluginInfo-Email=slack.dhabyx@gmail.com
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Name=simpleMonitor
X-KDE-PluginInfo-Version=0.3

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ServiceTypes=Plasma/Applet
Type=Service
